<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    @for (user of httpusers.slice(0, 5); track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.website }}</td>
      </tr>
    }
  </tbody>
</table>

<h1>List of Genshin Impact Characters</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    @for (character of genshinCharacters.slice(0, 5); track $index) {
      <tr>
        <td>{{ character }}</td>
      </tr>
    }
  </tbody>
</table>

<router-outlet />
